$font-color-main: white;
$background-color-main: #16191f;
$section-color-background: #1b1f26;
$section-color-border: #272a31;
$section-color-text: #d3d3d3;
$spinner-color-border: #3a556a;

$body-max-width: 80em;
$mobile-breakpoint: 780px;
