.background{

	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: linear-gradient(to top, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
	background-attachment: scroll;
	background-size: cover;
	background-repeat: repeat;
	box-sizing: border-box;

}